<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Todo List</title>
        <script src="https://kit.fontawesome.com/d573fb9cae.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>


        <div id="root">

            <div class="container">
                <div class="title">
                    <h1>ToDo List</h1>
                </div>
                <div class="todo-box">
                    <!-- Creo Input Tag per inserire i successivi todo items-->
                    <input v-on:keyup="addOnEnter"type="text" v-model="new_item">
                    <!-- Creo un Button che mi permette di aggiungere un todo item alla lista-->
                    <button @click="addNewTodo()" type="button" name="button">Aggiungi</button>
                    <!-- Creo un ul contenente gli li come todo items -->
                    <ul class="list-item">
                        <li v-for="item, index in item_list" @click="removeItem(index)">
                            <i class="fas fa-check-square"></i>
                            {{item}}
                        </li>
                    </ul>
                </div>
            </div>

        </div>

        <script src="main.js" charset="utf-8"></script>
    </body>
</html>
